<!--<form method="post" enctype="multipart/form-data" action="http://localhost:7203/uploadimage">-->
  <!--<input type="text" name="username">-->
  <!--<input type="password" name="password">-->
  <!--<input type="file" name="thumbnail">-->
  <!--<input type="submit">-->
<!--</form>-->

<div class="container" style="margin-top:20px" ng-controller="FileuploadCtrl">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <!-- image-preview-filename input [CUT FROM HERE]-->
      <div class="input-group image-preview">
        <form method="post" enctype="multipart/form-data" action="http://localhost:7203/uploadimage">
        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                      <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                      <span class="glyphicon glyphicon-folder-open"></span>
                      <span class="image-preview-input-title">Browse</span>
                      <input type="file" accept="image/png, image/jpeg, image/gif" id="picture" name="input-file-preview"/> <!-- rename it -->
                    </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                </span>
          </form>
      </div><!-- /input-group image-preview [TO HERE]-->
    </div>
  </div>
</div>
<!--<script>-->

<!--</script>-->
