<div ng-controller="headerCtrl" class="navbar navbar-inverse navbar-twitch" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="small-nav"> <span>Fictiontree</span> </span>
      </a>
    </div>
      <ul class="nav navbar-nav navbar-header navbar-right">

        <li ui-sref-active="active">
          <a ui-sref="main">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
							<span class="glyphicon glyphicon-home"></span>
						</span>
            <span class="full-nav"></span>
          </a>
        </li>
        <li ng-hide="isAuthenticated()" ui-sref-active="active"  href="#postModal" role="button" data-toggle="modal" >

          <a ui-sref="login" >
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="About Us">
							<span class="glyphicon glyphicon-log-in"></span>
						</span>
            <span class="full-nav"> Login </span>
          </a>
        </li>
        <li ng-hide="isAuthenticated()" ui-sref-active="active"  href="#postModal" role="button" data-toggle="modal" >
          <a ui-sref="register" ui-sref-active="active">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us">
							<span class="glyphicon glyphicon-user"></span>
						</span>
            <span class="full-nav"> Register </span>
          </a>
        </li>
        <li ng-show="isAuthenticated()" ui-sref-active="active">
          <a ui-sref="logout">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us">
							<span class="glyphicon glyphicon-user"></span>
						</span>
            <span class="full-nav"> Logout </span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a href="#contact-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us">
							<span class="glyphicon glyphicon-fire"></span>
						</span>
            <span class="full-nav"> Contact Us </span>
          </a>
        </li>
      </ul>


  </div>
</div>
<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div ui-view="login"></div>
        <div ui-view="register"></div>
  </div>

<script>
$(document).ready(function(){

  $(".dropdown").hover(
  function() {
  $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
  $(this).toggleClass('open');
  },
  function() {
  $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
  $(this).toggleClass('open');
  }
  );

  $(".dropdown-menu").on('click', 'li a', function(){
    $(".btn:first-child").text($(this).text());
    $(".btn:first-child").val($(this).text());
  });
});

</script>
