<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="well">
      <form ng-submit="submit()" name="login" class="form-signin" novalidate="">
        <h2 class="form-signin-heading">please sign in</h2>
        <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter proper email.</p>
        <input name="password" type="password" ng-model="password" class="form-control" placeholder="Password" required>
        <button id="loginsubmit" ng-disabled="login.$invalid"  class="btn btn-lg btn-primary btn-block" type="submit"  >
          Sign In
        </button>
        </form>
      </div>
      </div>
    </div>
    </div>




