<div class="container">
  <div class="row">
      <div class="col-md-7" ng-controller="SearchCtrl">
         <div ng-include="'views/search.html'"></div>

        <ul class="social-network social-circle">
          <li>for early access ? Join now.</li>
          <li ><a href="#" class="icoFacebook" style="background-color:#5bc0de" ng-click="authenticate('facebook')" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoGoogle" style="background-color:#5bc0de" ng-click="authenticate('google')" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="col-md-5" >
        <div ng-include="'views/userinfohome.html'"></div>
      </div>
</div>
  <div class="row" ng-controller="TriadCtrl">
    <div class="col-md-4"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4"></div>

      <!--<div ng-include="'views/triad.html'"></div>-->
  </div>
</div>
