<div class="jumbotron container-fluid">
  <div class="col-xs-10 col-sm-4 col-lg-6">
    <h1> Fiction Repository & Interpretation Platform</h1>
  </div>
  <div class="col-xs-8 col-lg-6">
    <form ng-submit="submit()" name="register" class="form-signin" novalidate="">
    <h2 class="form-signin-heading text-muted">reserve your space</h2>
  <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
   <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter proper email.</p>
  <input name="password" type="password" ng-model="password" class="form-control" placeholder="Password" required>
  <input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password"  validate-equals="password" >
   <p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">please match the passwords</p>
  <button ng-disabled="register.$invalid"  class="btn btn-lg btn-primary btn-block" type="submit">
    Submit
  </button>
</form>
  </div>
</div>
