<div class="container" ng-controller="TimelineCtrl">
  <div class="page-header text-center">
    <h6 id="timeline">News Feed</h6>
  </div>
  <ul class="timeline">
    <li ng-repeat = "post in dataStream" ng-class-even="'timeline-inverted'">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="{{post.imgurl}}" />
          <p>{{post.stamp}}</p>
        </div>
        <div class="timeline-body">
          <p>{{post.comment}}</p>

        </div>

        <div class="timeline-footer">
          <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
          <a><i class="glyphicon glyphicon-share"></i></a>
          <a class="pull-right">{{post.displayname}}</a>
        </div>
      </div>
    </li>
    <li class="clearfix" style="float: none;"></li>
  </ul>
</div>
