<div class="container">
  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p>My favourite
        <h6>Character: Captain Jack Sparrow<br/>
          Fiction: Kung fu Panda<br/>
          Thing: Mjolnir<br/>
          Person: Leonard Nimoy</h6></p> <small><cite title="Source Title">Sandeep</i></cite></small>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote>
        <p>My favourite
          <h6>Character: Gandalf <br/>
          Fiction: The Hunger Games <br/>
          Thing: Nimbus 2000<br/>
          Person: Ian Mckellen</h6></p>
        <small><cite title="Source Title">Krishna</cite></small>
      </blockquote>
    </div>
  </div>
  <div class="row">

  </div>
  </div>
